# Auto detect text files and perform LF normalization
* text=auto

# PHP files
*.php text diff=php
*.phtml text diff=php

# JavaScript files
*.js text
*.jsx text
*.json text

# CSS files
*.css text
*.scss text
*.sass text

# Documentation
*.md text diff=markdown
*.txt text

# Configuration files
*.yml text
*.yaml text
*.json text
*.xml text
*.ini text
*.env* text
*.pot text

# Graphics
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.svg text

# Font files
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary

# Scripts
*.sh text eol=lf
*.bat text eol=crlf

# Exclude files from exporting
.gitattributes export-ignore
.gitignore export-ignore
.gitkeep export-ignore 