<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite name="Dynamic Price Optimizer Test Suite">
            <directory prefix="test-" suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./includes/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="WP_TESTS_DIR" value="/tmp/wordpress-tests-lib"/>
        <env name="WP_CORE_DIR" value="/tmp/wordpress/"/>
        <ini name="display_errors" value="1"/>
        <ini name="display_startup_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <ini name="log_errors" value="1"/>
        <ini name="error_log" value="/tmp/php-errors.log"/>
        <ini name="memory_limit" value="-1"/>
    </php>
</phpunit> 